* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 26%, rgba(137, 43, 226, 0.37) 83%);
}

/* TÍTULOS */

h1 {
    text-align: center;
    text-decoration: underline;
}

/* HEADER */

#cabecera {
    height: 100%;
    width: auto;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(137, 43, 226, 0.37);
}

.logo {
    height: auto;
    width: 100px;
    border: 5px solid rgb(105, 238, 105);
    border-radius: 50%;
    padding: 5px;
    margin: 15px;
}

.navegador ul li {
    display: inline;
    margin: 15px;
}

.navegador ul li a {
    text-decoration: none;
    border: 5px solid black;
    border-radius: 15px;
    padding: 15px;
    color: black;
    background-color: rgba(255, 255, 255, 0.2);
}

.navegador ul li a:hover {
    background-color: rgba(255, 166, 0, 0.2);
    color: rgb(255, 38, 0);
    transition: ease 150ms;
}

/* MAIN */

#cuerpo {
    height: 100%;
}

/* FOOTER */

#pie {
    background-color: rgba(108, 26, 185, 0.637);
    width: 100%;
}

/* index */

.cuerpo-index {
    display: flex;
    justify-content: space-between;
}

.flor-fondo-cont,
.info-izq,
.info-der {
    border: 3px solid black;
    padding: 30px;
    border-radius: 20px;
    background-color: rgba(158, 235, 237, 0.3);
    margin: 1rem;
    display: flex;
}

.flor-fondo {
    border-radius: 10px;
}

.info-izq {
    display: flex;
    justify-content: space-around;
}

.info-der-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-style: oblique;
}

.in-der-foto {
    height: 250px;
}

.foto-cont {
    border: 5px solid green;
    margin: 25px;
}

/* Flor Gratis */

#cuerpo-flor {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1000px;
}

.flor {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    padding: 30px;
    border-radius: 30px;
    background-color: rgba(158, 235, 237, 0.3);
}

.flor-foto {
    height: 800px;
    border-radius: 15px;
}

/* QUERIES */

@media(max-width: 890px) {

    /* INDEX-q */

    

    .cuerpo-index {
        display: grid;
        grid-template-columns: 1fr;
        width: 75%;
        margin: auto;
    }

    .info-izq {
        display: grid;
        grid-gap: 15px;
    }

    .info-der-flex{
        display: grid;
    }

    .logo {
        height: auto;
        width: 60px;
        border: 5px solid rgb(105, 238, 105);
        border-radius: 50%;
        padding: 5px;
        margin: 15px;
    }

    .navegador {
        display: none;
    }

    .nav-bootstrap {
        width: 100%;
        margin-bottom: 125px;
    }

    .flor-fondo {
        height: auto;
        width: 100%;
    }

    .flor-foto {
        height: auto;
        width: 100%;
    }

    .foto-cont{
        width: fit-content;
        margin: auto;
    }
}

@media(min-width:890px) {
    .nav-bootstrap {
        display: none;
    }
}