*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 26%, rgba(137,43,226,0.37) 83%);
}

/* HEADER */

#cabecera{
    height: 100%;
    width: auto;
}

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(137, 43, 226, 0.37);
}

.logo{
    height: auto;
    width: 100px;
    border: 5px solid rgb(105, 238, 105);
    border-radius: 50%;
    padding: 5px;
    margin: 15px;
}

.navegador ul li{
    display: inline;
    margin: 15px;
}

.navegador ul li a{
    text-decoration: none;
    border: 5px solid black;
    border-radius: 15px;
    padding: 15px;
    color: black;
    background-color: rgba(255, 255, 255, 0.2);
}

.navegador ul li a:hover{
    background-color: rgba(255, 166, 0, 0.2);
    color: rgb(255, 38, 0);
    transition: ease 150ms;
}

/* MAIN */

#cuerpo{
    height: 100%;
}

/* FOOTER */

#pie{
    background-color:rgba(108, 26, 185, 0.637);
}

/* index */

.cuerpo-index{
    display: flex;
    justify-content: space-between;
}

.flor-fondo-cont, .info-izq, .info-der{
    border: 3px solid black;
    padding: 30px;
    border-radius: 20px;
    background-color:rgba(158,235,237,0.3);
    margin: 1rem;
}

.flor-fondo{
    border-radius: 10px;
}

/* hola */

#cuerpo-flor{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1000px;
}

.flor{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    padding: 30px;
    border-radius: 30px;
}

.flor-foto{
    height: 800px;
    border-radius: 15px;
}