* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body:not(#login) {
    background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 26%, rgba(137, 43, 226, 0.37) 83%);
}

/* TÍTULOS */

h1 {
    text-align: center;
    text-decoration: underline;
}

/* HEADER */

#cabecera {
    height: 100%;
    width: auto;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(137, 43, 226, 0.37);
}

.logo {
    height: auto;
    width: 100px;
    border: 5px solid rgb(105, 238, 105);
    border-radius: 50%;
    padding: 5px;
    margin: 15px;
}

.navegador ul li {
    display: inline;
    margin: 15px;
}

.navegador ul li a {
    text-decoration: none;
    border: 5px solid black;
    border-radius: 15px;
    padding: 15px;
    color: black;
    background-color: rgba(255, 255, 255, 0.2);
}

.navegador ul li a:hover {
    background-color: rgba(255, 166, 0, 0.2);
    color: rgb(255, 38, 0);
    transition: ease 150ms;
}

/* MAIN */

#cuerpo {
    height: auto;
    width: 100%;
}

/* FOOTER */

#pie {
    background-color: rgba(108, 26, 185, 0.637);
    width: 100%;
}


/* MAIN */
/* index */
.cuerpo-index {
    margin-top: 225px;
}

.flor-fondo-cont,
.info-izq,
.info-der {
    border: 3px solid black;
    padding: 30px;
    border-radius: 20px;
    background-color: rgba(158, 235, 237, 0.3);
    margin: 1rem auto;
    width: 90%;
}

.flor-fondo,
.in-der-foto {
    height: auto;
    width: 100%;
    border-radius: 5px;
}

.info-izq {
    display: grid;
    grid-gap: 15px;
    justify-content: center;
    grid-template-rows: repeat(3, 1fr);
    padding: 1rem;
}

.foto-cont {
    border: 5px solid green;
    margin: 25px;
}


/* LOGIN */

#cuerpo-login {
    margin-top: 225px;
    height: auto;
    width: 100%;
}

.flor-login-cont {
    border: 5px solid green;
    margin: 25px;
    height: auto;
}

.flor-login {
    width: 100%;
    height: auto;
}

.form-login {
    border: 5px solid rgba(137, 43, 226, 0.37);
    margin: 25px;
    padding: 10px;
    text-align: center;
}

.btn-login {
    border: 5px solid orange;
    border-radius: 15px;
    padding: 10px;
    background: none;
    background-color: rgba(255, 81, 0, 0.37);
}

/* Flor Gratis */

#cuerpo-flor {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1000px;
}

.flor {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    padding: 30px;
    border-radius: 30px;
    background-color: rgba(158, 235, 237, 0.3);
}

.flor-foto {
    height: auto;
    border-radius: 15px;
    width: 100%;
}

/* QUERY */
/* index-q */
@media(min-width:768px) {
    .cuerpo-index {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            "flor info"
            "card card";
        margin-top: 150px;
    }

    .flor-fondo-cont {
        grid-area: flor;
        height: fit-content;
        align-self: center;
    }

    .info-der {
        grid-area: info;
    }

    .info-izq {
        grid-area: card;
        display: flex;
    }

}

@media(max-width:1200px) {
    .navegador {
        display: none;
    }
}

@media(min-width:1200px) {
    .nav-bootstrap {
        display: none;
    }

    .cuerpo-index {
        margin-top: 20px;
    }

    .info-izq {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }



}

@media(min-width:1440px) {
    .info-der-flex {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .cuerpo-index {
        grid-template-areas:
            "flor info"
            "flor card";
    }

    .info-izq {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .flor-fondo {
        height: 100vh;
        width: auto;
    }

    .flor-fondo-cont {
        width: fit-content;
    }
}

/* login-q */

@media(min-width:768px) {
    #cuerpo-login{
        margin-top: 127px;
    }

    .cuerpo-login{
        display: flex;
    }

}

@media(min-width:1024px){
    
    .form-login{
        background-color: rgb(105, 238, 105, 0.6);
        height: 450px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .btn-login:hover{
        color: orange;
        background-color:rgba(137, 43, 226, 0.37) ;
        border:5px solid rgb(39, 31, 31);
    }

    .cuerpo-login{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}

@media(min-width:1440px){
    #cuerpo-login{
        margin: 10px;
    }

    .form-login{
        padding: 100px;
        border-radius: 15px;
    }

    .cuerpo-login{
        display: flex;
        justify-content: space-around;
        
    }
}